In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('1.csv')

In [ ]:
df.shape

(5348, 48)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5348 entries, 0 to 5347
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Code              5348 non-null   object
 1   FREQ              5348 non-null   object
 2   FREQ#             5348 non-null   object
 3   REF_AREA          5348 non-null   object
 4   REF_AREA#         5348 non-null   object
 5   INDICATOR         5348 non-null   object
 6   INDICATOR#        5325 non-null   object
 7   MEASURE           5348 non-null   object
 8   MEASURE#          5348 non-null   object
 9   UNIT_MEASURE      5348 non-null   object
 10  UNIT_MEASURE#     5348 non-null   object
 11  INSTRUMENT_TYPE   5348 non-null   object
 12  INSTRUMENT_TYPE#  5306 non-null   object
 13  WITH_AND_DEP      5348 non-null   object
 14  WITH_AND_DEP#     5335 non-null   object
 15  TERMINAL_TYPE     5348 non-null   object
 16  TERMINAL_TYPE#    5348 non-null   object
 17  CARD_TYPE         5348 non-null   object
 18  CARD_TYPE#        5327 non-null   object
 19  AVAILABILITY      5348 non-null   object
 20  AVAILABILITY#     5348 non-null   object
 21  UNIT_MULT         5348 non-null   int64
 22  UNIT_MULT#        5334 non-null   object
 23  COLLECTION        5348 non-null   object
 24  COLLECTION#       5326 non-null   object
 25  DECIMALS          5348 non-null   int64
 26  TABLE             5348 non-null   object
 27  TITLE_TS          5348 non-null   object
 28  2012              3920 non-null   float64
 29  sts               4902 non-null   object
 30  2013              4475 non-null   float64
 31  sts.1             5348 non-null   object
 32  2014              4862 non-null   float64
 33  sts.2             5348 non-null   object
 34  2015              5000 non-null   float64
 35  sts.3             5348 non-null   object
 36  2016              5061 non-null   float64
 37  sts.4             5348 non-null   object
 38  2017              5118 non-null   float64
 39  sts.5             5348 non-null   object
 40  2018              5083 non-null   float64
 41  sts.6             5344 non-null   object
 42  2019              5104 non-null   float64
 43  sts.7             5344 non-null   object
 44  2020              5080 non-null   float64
 45  sts.8             5329 non-null   object
 46  2021              4857 non-null   float64
 47  sts.9             5329 non-null   object
dtypes: float64(10), int64(2), object(36)
memory usage: 2.0+ MB

In [ ]:
df.isnull().sum()

Code                   0
FREQ                   0
FREQ#                  0
REF_AREA               0
REF_AREA#              0
INDICATOR              0
INDICATOR#            23
MEASURE                0
MEASURE#               0
UNIT_MEASURE           0
UNIT_MEASURE#          0
INSTRUMENT_TYPE        0
INSTRUMENT_TYPE#      42
WITH_AND_DEP           0
WITH_AND_DEP#         13
TERMINAL_TYPE          0
TERMINAL_TYPE#         0
CARD_TYPE              0
CARD_TYPE#            21
AVAILABILITY           0
AVAILABILITY#          0
UNIT_MULT              0
UNIT_MULT#            14
COLLECTION             0
COLLECTION#           22
DECIMALS               0
TABLE                  0
TITLE_TS               0
2012                1428
sts                  446
2013                 873
sts.1                  0
2014                 486
sts.2                  0
2015                 348
sts.3                  0
2016                 287
sts.4                  0
2017                 230
sts.5                  0
2018                 265
sts.6                  4
2019                 244
sts.7                  4
2020                 268
sts.8                 19
2021                 491
sts.9                 19
dtype: int64

In [ ]:
df.sample(10)

,Code,FREQ,FREQ#,REF_AREA,REF_AREA#,INDICATOR,INDICATOR#,MEASURE,MEASURE#,UNIT_MEASURE,...,2017,sts.5,2018,sts.6,2019,sts.7,2020,sts.8,2021,sts.9
5249,CPMI_CT1:A:ZA:M:V:H:D:Z:Z:Z,A,Annual,ZA,South Africa,M,Cashless payments,V,Value,H,...,-20.690,A,-27.456,A,-5.713,A,-76.968,A,-99.930,A
2718,CPMI_CT1:A:IN:K:V:B:Z:Z:Z:Z,A,Annual,IN,India,K,Accounts,V,Value,B,...,1575.716,A,1556.235,A,1569.466,A,1691.333,A,1817.145,A
940,CPMI_CT1:A:CA:M:N:N:E:Z:Z:Z,A,Annual,CA,Canada,M,Cashless payments,N,Number,N,...,10736.800,A,11603.400,A,11998.000,A,4819.160,A,5281.500,A
27,CPMI_CT1:A:AR:M:N:G:E:Z:Z:Z,A,Annual,AR,Argentina,M,Cashless payments,N,Number,G,...,8.633,A,12.401,A,20.487,A,NaN,A,31.498,A
1225,CPMI_CT1:A:CH:R:N:Q:Z:C:Z:Z,A,Annual,CH,Switzerland,R,Withdrawals/deposits,N,Number,Q,...,14.093,A,14.307,A,18.398,A,16.568,A,15.178,A
3008,CPMI_CT1:A:IT:M:V:A:I:Z:Z:Z,A,Annual,IT,Italy,M,Cashless payments,V,Value,A,...,28042.859,A,35084.912,A,40974.492,A,48735.316,A,63966.964,A
2091,CPMI_CT1:A:FR:M:V:I:G:Z:Z:Z,A,Annual,FR,France,M,Cashless payments,V,Value,I,...,5.253,A,5.444,A,5.214,A,5.207,A,6.075,A
3207,CPMI_CT1:A:JP:M:N:T:H:Z:Z:Z,A,Annual,JP,Japan,M,Cashless payments,N,Number,T,...,NaN,L,NaN,L,NaN,L,NaN,L,NaN,L
2603,CPMI_CT1:A:ID:M:V:T:H:Z:Z:Z,A,Annual,ID,Indonesia,M,Cashless payments,V,Value,T,...,59.156,A,58.711,A,64.429,A,43.600,A,45.528,A
4580,CPMI_CT1:A:SE:R:V:A:Z:F:Z:Z,A,Annual,SE,Sweden,R,Withdrawals/deposits,V,Value,A,...,515.000,A,430.577,A,400.992,A,205.441,A,226.695,A

In [1]:

cols = [var for var in df.columns if df[var].isnull().mean() < 0.05 and df[var].isnull().mean()>0]
cols

NameError: ignored

In [ ]:
def create_indicator_dict(df, column):
    dict = {}

    unique = df[f'{column}'].unique()

    for indicator in unique:
        indicator_number = df[df[f'{column}'] == indicator][f'{column}#'].values[0]
        dict[indicator] = indicator_number

    return dict

In [ ]:
columns = ['INDICATOR','INSTRUMENT_TYPE','WITH_AND_DEP','CARD_TYPE','UNIT_MULT','COLLECTION' ]
result_dict = []

for column in columns:
  result_dict.append(create_indicator_dict(df, column))
print(result_dict)

[{'A': 'GDP', 'B': 'Population', 'C': 'GDP per capita', 'D': 'CPI', 'E': 'Exchange rate (domestic currency vis-a-vis USD)', 'F': 'Banknotes and coins', 'G': 'Bank deposits held at the central bank', 'H': 'Interbank deposits', 'I': 'Institutions', 'J': 'Branches or offices', 'K': 'Accounts', 'M': 'Cashless payments', 'N': 'Fast payments', 'R': 'Withdrawals/deposits', 'T': 'Cards', 'U': 'Terminals'}, {'Z': 'Not applicable', 'A': 'All', 'B': 'Credit transfers', 'C': 'Direct debits', 'D': 'Cheques', 'E': 'Card and e-money payments, all', 'F': 'Card and e-money payments, by card with a debit function', 'H': 'Card and e-money payments, by card with a credit function', 'I': 'Card and e-money payments, e-money payments', 'J': 'Other payment instruments', 'G': 'Card and e-money payments, by card with a delayed debit function', 'K': 'Memo: Money remittances'}, {'Z': 'Not applicable', 'A': 'All', 'B': 'Cash withdrawals with cards issued inside the country, all', 'C': 'Cash withdrawals with cards issued inside the country, at locations inside the country', 'D': 'Cash withdrawals with cards issued inside the country, at locations outside the country', 'E': 'Memo: Cash withdrawals at locations inside the country', 'F': 'With cards issued outside the country', 'G': 'Cash deposits at locations inside and outside the country', 'H': 'With cards issued inside the country at locations inside the country', 'I': 'E-money loading/unloading transactions'}, {'Z': 'Not applicable', 'A': 'Cards, all', 'B': 'Cards, with a cash function', 'C': 'Cards, with a debit function', 'D': 'Cards, with a delayed debit function', 'E': 'Cards, with a credit function', 'F': nan, 'G': 'Cards, with an e-money function, contactless', 'I': 'Cards, with an e-money function, able to initiate device-not-present payments', 'H': 'Cards, with an e-money function, issued by a non-bank'}, {9: 'Billions', 3: 'Thousands', 0: 'Units', 6: 'Millions'}, {'S': 'Summed through period', 'E': 'End of period', 'M': 'Middle of period', 'A': 'Average of observations through period'}]

In [ ]:
for i in range(len(columns)):
  df[f'{columns[i]}#'] = df[f'{columns[i]}'].map(result_dict[i])

In [ ]:
df.isnull().sum()

Code                   0
FREQ                   0
FREQ#                  0
REF_AREA               0
REF_AREA#              0
INDICATOR              0
INDICATOR#             0
MEASURE                0
MEASURE#               0
UNIT_MEASURE           0
UNIT_MEASURE#          0
INSTRUMENT_TYPE        0
INSTRUMENT_TYPE#       0
WITH_AND_DEP           0
WITH_AND_DEP#          0
TERMINAL_TYPE          0
TERMINAL_TYPE#         0
CARD_TYPE              0
CARD_TYPE#            54
AVAILABILITY           0
AVAILABILITY#          0
UNIT_MULT              0
UNIT_MULT#             0
COLLECTION             0
COLLECTION#            0
DECIMALS               0
TABLE                  0
TITLE_TS               0
2012                1428
sts                  446
2013                 873
sts.1                  0
2014                 486
sts.2                  0
2015                 348
sts.3                  0
2016                 287
sts.4                  0
2017                 230
sts.5                  0
2018                 265
sts.6                  4
2019                 244
sts.7                  4
2020                 268
sts.8                 19
2021                 491
sts.9                 19
dtype: int64

In [ ]:
dict2 = {'Z': 'Not applicable',
 'A': 'Cards, all',
 'B': 'Cards, with a cash function',
 'C': 'Cards, with a debit function',
 'D': 'Cards, with a delayed debit function',
 'E': 'Cards, with a credit function',
 'F': 'Cards, with an e-money function,all',
 'G': 'Cards, with an e-money function, contactless',
 'I': 'Cards, with an e-money function, able to initiate device-not-present payments',
 'H': 'Cards, with an e-money function, issued by a non-bank'}

In [ ]:
df['CARD_TYPE#'] = df['CARD_TYPE'].map(dict2)

In [ ]:
df.isnull().sum()

Code                   0
FREQ                   0
FREQ#                  0
REF_AREA               0
REF_AREA#              0
INDICATOR              0
INDICATOR#             0
MEASURE                0
MEASURE#               0
UNIT_MEASURE           0
UNIT_MEASURE#          0
INSTRUMENT_TYPE        0
INSTRUMENT_TYPE#       0
WITH_AND_DEP           0
WITH_AND_DEP#          0
TERMINAL_TYPE          0
TERMINAL_TYPE#         0
CARD_TYPE              0
CARD_TYPE#             0
AVAILABILITY           0
AVAILABILITY#          0
UNIT_MULT              0
UNIT_MULT#             0
COLLECTION             0
COLLECTION#            0
DECIMALS               0
TABLE                  0
TITLE_TS               0
2012                1428
sts                  446
2013                 873
sts.1                  0
2014                 486
sts.2                  0
2015                 348
sts.3                  0
2016                 287
sts.4                  0
2017                 230
sts.5                  0
2018                 265
sts.6                  4
2019                 244
sts.7                  4
2020                 268
sts.8                 19
2021                 491
sts.9                 19
dtype: int64

In [ ]:
df.columns

Index(['Code', 'FREQ', 'FREQ#', 'REF_AREA', 'REF_AREA#', 'INDICATOR',
       'INDICATOR#', 'MEASURE', 'MEASURE#', 'UNIT_MEASURE', 'UNIT_MEASURE#',
       'INSTRUMENT_TYPE', 'INSTRUMENT_TYPE#', 'WITH_AND_DEP', 'WITH_AND_DEP#',
       'TERMINAL_TYPE', 'TERMINAL_TYPE#', 'CARD_TYPE', 'CARD_TYPE#',
       'AVAILABILITY', 'AVAILABILITY#', 'UNIT_MULT', 'UNIT_MULT#',
       'COLLECTION', 'COLLECTION#', 'DECIMALS', 'TABLE', 'TITLE_TS', '2012',
       'sts', '2013', 'sts.1', '2014', 'sts.2', '2015', 'sts.3', '2016',
       'sts.4', '2017', 'sts.5', '2018', 'sts.6', '2019', 'sts.7', '2020',
       'sts.8', '2021', 'sts.9'],
      dtype='object')

In [ ]:
columns2 =['2012','sts', '2013', 'sts.1', '2014', 'sts.2', '2015', 'sts.3', '2016',
       'sts.4', '2017', 'sts.5', '2018', 'sts.6', '2019', 'sts.7', '2020',
       'sts.8', '2021', 'sts.9']

for i in columns2:
  df[f'{i}'] = df[f'{i}'].fillna(df[f'{i}'].mean)

In [ ]:
df.isnull().sum()

Code                0
FREQ                0
FREQ#               0
REF_AREA            0
REF_AREA#           0
INDICATOR           0
INDICATOR#          0
MEASURE             0
MEASURE#            0
UNIT_MEASURE        0
UNIT_MEASURE#       0
INSTRUMENT_TYPE     0
INSTRUMENT_TYPE#    0
WITH_AND_DEP        0
WITH_AND_DEP#       0
TERMINAL_TYPE       0
TERMINAL_TYPE#      0
CARD_TYPE           0
CARD_TYPE#          0
AVAILABILITY        0
AVAILABILITY#       0
UNIT_MULT           0
UNIT_MULT#          0
COLLECTION          0
COLLECTION#         0
DECIMALS            0
TABLE               0
TITLE_TS            0
2012                0
sts                 0
2013                0
sts.1               0
2014                0
sts.2               0
2015                0
sts.3               0
2016                0
sts.4               0
2017                0
sts.5               0
2018                0
sts.6               0
2019                0
sts.7               0
2020                0
sts.8               0
2021                0
sts.9               0
dtype: int64

In [ ]:
df.shape

(5348, 48)

In [ ]:
df.to_csv('final_output.csv', index=False)

In [ ]:
df.duplicated().sum()

0